---
layout: default
---

<div class="text-center">
  <p class="display-3">Люди, которых мы потеряли:</p>
</div>

<div class="container px-4 pt-3">
  <div class="row row-cols-auto g-5">
    {% for person in site.people %}
    <div class="col">
      <div class="card col-md-4 text-center">
        <img src="{{ person.mainPhoto.path | relative_url }}" class="img-fluid rounded">
        <div class="card-body col-sm">
          <h5 class="card-title">{{ person.name }}</h5>
          <div class="card-text">{{ person.birthDate }} - {{ person.deathDate }}</div>
          <br/>
          <blockquote class="blockquote">
            <small class="text-muted">
              <em>{{ person.epitaph }}</em>
            </small>
          </blockquote>
        </div>
        <a class="btn btn-primary stretched-link" href="{{ person.url | relative_url }}#start">Подробнее...</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<hr>

<div class="text-center">
  <p class="display-3">Кладбища</p>
</div>

<div class="container px-4 pt-3">
  <div class="row row-cols-auto g-5">
    {% for grave in site.graves %}
    <div class="col">
      <div class="card col-md-4 text-center" style="width: 18rem;">
        <div class="card-body col-sm">
          <h5 class="card-title">{{ grave.name }}</h5>
          <br/>
        </div>
        <a class="btn btn-primary stretched-link" href="{{ grave.url | relative_url }}#start">Подробнее...</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
