---
layout: default
name: Думченко Сергей Николаевич
birthDate: 13.06.1962
deathDate: 05.11.2021
mainPhoto:
  path: /assets/images/reksam/IMG_0204.jpeg
carouselPhotos:
  - path: /assets/images/reksam/IMG_8916.jpeg
    caption: Приозерск, 30.10.2021. За неделю до...
  - path: /assets/images/reksam/IMG_8632.jpeg
    caption: Новая Голландия, 4.09.2021
  - path: /assets/images/reksam/IMG_0095.jpeg
  - path: /assets/images/reksam/IMG_6407.jpeg
    caption: Золотая Долина, 05.09.2020
  - path: /assets/images/reksam/IMG_6393.jpeg
    caption: Золотая Долина, 05.09.2020
  - path: /assets/images/reksam/IMG_6640.jpeg
    caption: Зеленогорск, 10.10.2020
  - path: /assets/images/reksam/2020-03-09 13-42-27.jpeg
    caption: "09.03.2020"
  - path: /assets/images/reksam/2b9011a5-1aca-4397-ae62-74b6b19ce259.jpeg
  - path: /assets/images/reksam/2020-03-09 13-42-47.jpeg
    caption: "09.03.2020"
  - path: /assets/images/reksam/IMG_0072.jpeg
    caption: 27.02.2021
  - path: /assets/images/reksam/IMG_0118.jpeg
    caption: Первый Новый Год в новой квартире, 31.12.2003
  - path: /assets/images/reksam/IMG_0266.jpeg
    caption: Где-то в Финляндии, 06.07.2005
  - path: /assets/images/reksam/IMG_0303.jpeg
    caption: На пароме, вероятно, у Таллина, 12.01.2008
  - path: /assets/images/reksam/photo_2022-05-17 13.59.22.jpeg
    caption: КПП Чарли, Берлин, 14.08.2004
---

<div class="container text-center">
  <h1 class="display-3">{{ page.name }}</h1>
  <p class="display-6 text-muted">{{ page.birthDate }} - {{ page.deathDate }}</p>
</div>

<div class="container">
  <div id="carousel" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
    {% assign photos = page.carouselPhotos | unshift: page.mainPhoto %}
    <div class="carousel-indicators">
      {% for photo in photos %}
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.index0 }}" class="{% if photo == page.mainPhoto %}active{% endif %}" aria-current="{% if photo == page.mainPhoto %}true{% endif %}" aria-label="Photo {{ forloop.index }}"></button>
      {% endfor %}
    </div>

    <div class="carousel-inner">
      {% for photo in photos %}
      <div class="carousel-item {% if photo == page.mainPhoto %}active{% endif %}" style="height: 75vh" data-bs-interval="10000">
        <figure class="figure" style="max-height: 95%">
          <img src="{{ photo.path | relative_url }}" class="img-thumbnail d-block m-auto">
          {% if photo.caption %}
          <figcaption class="figure-caption text-center font-weight-bold text-black">
              {{ photo.caption }}
          </figcaption>
          {% endif %}
        </figure>
      </div>
      {% endfor %}

      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<hr>

<div class="container bg-body rounded d-grid gap-5">
  <h3 class="text-center display-4">Последние слова от семьи</h3>

  <nav class="p-2">
    <div class="nav nav-tabs bg-light flex-column d-grid gap-3" id="nav-tab" role="tablist">
      <button class="nav-link border rounded shadow p-2" id="nav-r3nic1e-tab" data-bs-toggle="tab" data-bs-target="#r3nic1e-tab" type="button" role="tab" aria-controls="nav-r3nic1e" aria-selected="false">
        Святослав Сергеевич Думченко, сын
      </button>
      <button class="nav-link border rounded shadow p-2" id="nav-elena-reksam-tab" data-bs-toggle="tab" data-bs-target="#elena-reksam-tab" type="button" role="tab" aria-controls="nav-elena-reksam" aria-selected="false">
        Елена Анатольевна Думченко, жена
      </button>
    </div>
  </nav>

  <div class="tab-content">
    <div class="tab-pane fade" id="r3nic1e-tab" role="tabpanel" aria-labeledby="nav-r3nic1e-tab">
      <div class="fw-light">
        <p>
          Когда мне было 11 лет, папа подсунул мне книжку по программированию. Она называлась что-то типа "Занимательное программирование"
          и там были примеры готового кода на Delphi, который решал всякие красивые, интересные и простые задачки.
          Это был тот поворотный момент, в котором какая-то мелочь - книжка, целиком определяет судьбу человека и его дальнейшие увлечения.
        </p>
        <p>
          На самом деле, этим дело не ограничилось, и, так как он сам увлекался Linux и держал дома сервер, с течением времени и меня начал
          привлекать к его администрированию и обучению GNU/Linux. Так он меня подвел к самому сложному, но предельно важному выбору в моей жизни:
          - заниматься программированием
          - заниматься администрированием серверов
          Не важно, что я выбрал тогда, в итоге я оказался там, куда он мне помог пробраться изначально - смесь администрирования и программирования.
          И без его помощи в самом-самом зародыше меня как личности я бы не оказался на этом пути. И я очень сильно благодарен ему за это.
        </p>
        <p>
          Пап, мне очень тебя не хватает. Ты ушел в тот момент, когда я только перестал получать от тебя и начал давать. К сожалению,
          так уж было предначертано, что я не успел дать все, что хотел успеть.
        </p>
      </div>
    </div>
    <div class="tab-pane fade" id="elena-reksam-tab" role="tabpanel" aria-labeledby="nav-elena-reksam-tab">
      <div class="fw-light">
        <p>
          Мы познакомились еще в студенческие годы. Наша совместная жизнь была долгой, но недостаточно чтобы сказать: они состарились вместе. Ты ушел слишком рано и неожиданно.
          Мы только начали привыкать к новому статусу пенсионеры, дедушка и бабушка. Всячески противились этому. Чувствовали себя еще молодыми, полными сил и желаний.
        </p>
        <p>
          Когда повзрослели наши дети, в поисках приложения своих нерастраченных сил и желаний, мы завели собаку. Чтобы она стимулировала нас к продолжению активной жизни.
          Именно ты всегда был инициатором наших поездок после которых оставалось много ярких впечатлений.
        </p>
        <p>
          Жизнь с тобой никогда не была простой, но она точно не была однообразной.
        </p>
        <p>
          К зрелому возрасту ты овладел столькими навыками что стал незаменимым для всех членов нашей семьи.  Практически любой ремонт квартир, техники, машин был тебе под силу.
          И это, не говоря уже о профессиональных знаниях. Даже оформляя памятник, я не один раз пожалела, что тебя нет рядом, и не с кем посоветоваться.
        </p>
        <p>
          Все это навсегда останется с нами. И именно этого больше никогда не будет.
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container bg-body rounded d-grid gap-4">
  <h3 class="text-center display-4">Воспоминания от семьи</h3>

  <div class="container bg-light shadow border p-4">
    <figure>
      <blockquote>
        <p class="lead text-center display-6">Знания языков</p>
        <p>Я всегда восхищался, сколько мой отец знает языков. Это просто какое-то немыслимое число для человека, который почти не использовал их для профессиональной деятельности:</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Русский</li>
          <li class="list-group-item">Английский</li>
          <li class="list-group-item">Немецкий</li>
          <li class="list-group-item">Финский</li>
          <li class="list-group-item">Нидерландский</li>
        </ul><br>
        <p>Это только те языки, которые я слышал от него вживую. Наверняка, я еще о каких-то забыл.</p>
        <p>
          Причем, это увлечение языками не ограничивалось просто их использовании с живыми людьми при поездках. Когда он разбирался со своей машиной Škoda, он скачал оригинальную документацию на чешском,
          чешско-русский словарь и сидел ее изучал.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer text-end">
        Святослав Сергеевич Думченко, сын
      </figcaption>
    </figure>
  </div>

  <div class="container bg-light shadow border p-4">
    <figure>
      <blockquote>
        <p class="lead text-center display-6">Физика в суде</p>
        <p>
          Как-то папе пришел штраф за превышение скорости. И, то ли чтобы не платить штраф и потрепать нервы, то ли потому что считал себя правым, он решил взять фотографию превышения с камеры,
          применить немного физики и доказать, что он не превышал.
        </p>
        <p>
          Он взял длину смазывания верхней части колеса, диаметр колеса, высчитал угол камеры, нагуглил скорость затвора полицейской камеры и
          высчитал по этим данным скорость автомобиля на фотографии. Меня до сих пор поражает, насколько можно заморочиться и найти себе интересное занятие в опротестовывании штрафа.
        </p>
        <p>
          Что было в суде я не знаю, но, похоже, либо физике не место в суде, либо научная степень судьи оказалась выше, потому что штраф в итоге пришлось заплатить.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer text-end">
        Святослав Сергеевич Думченко, сын
      </figcaption>
    </figure>
  </div>

  <div class="container bg-light shadow border p-4">
    <figure>
      <blockquote>
        <p class="lead text-center display-6">Корабль "Васа"</p>
        <p>
          Это было в те времена, когда мы активно семьей ездили по скандинавским странам на выходные или в отпуски. Чтобы как-то тематически провести одну из таких поездок,
          папа загорелся идеей съездить посмотреть корабль "Васа". Это был какой-то затонувший у берегов города королевский корабль, который просто достали из воды и соорудили музей.
          Похоже, он решил не очень много времени потратить на проверку фактов и перепроверку маршрута, поэтому путь наш лежал в финский город Вааса на берегу Ботнического залива.
        </p>
        <p>
          И вот мы приехали в маленький финский город Вааса и начали искать заветный корабль. Через какое-то время поисков обнаружилось, что самый большой корабль в этом городе - рыбацкая лодка.
          Папа решил спросить у местных, где можно найти этот корабль. Но их ответ нас смутил - они вообще не в курсе, что у них должен быть какой-то королевский корабль.
        </p>
        <p>
          В итоге у какой-то стойки информации нам нагуглили, что есть такой корабль, да. Но только он по другую сторону залива - в Стокгольме. А у нас в планах Швеции не было,
          поэтому поездка за кораблем в итоге прошла без самого корабля.
        </p>
        <p>
          Единственное запоминающееся для меня из той поездки - мы с папой плавали в Ботническом заливе при температуре воды где-то +19°, очень холодно и страшно.
          А на корабль мы в итоге посмотрели в одной из следующих поездок в Швецию.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer text-end">
        Святослав Сергеевич Думченко, сын
      </figcaption>
    </figure>
  </div>

  <div class="container bg-light shadow border p-4">
    <figure>
      <blockquote>
        <p class="lead text-center display-6">Именование всего</p>
        <p>
          Папа любил давать всему свое уникальное название. Кроме названий квартир по названиям улиц, было еще много разных придумок:
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Reksam - его основной никнейм</li>
            <li class="list-group-item">Tower - наш основной стационарный компьютер, происходило от названия форм-фактора таких компьютеров "Full-Tower"</li>
            <li class="list-group-item">Мися - его личный ноутбук MSI</li>
            <li class="list-group-item">Bolivar - его второй рабочий стационарный компьютер</li>
            <li class="list-group-item">Субик - наш первый кот, полное имя Субарик - от марки машин Subaru, на которых он ездил</li>
            <li class="list-group-item">Фор (4) - наша первая собака, имя получилось от Ford и от Subaru Forester - обе машины на момент обретения собаки. Фориком можно одновременно называть и собаку, и машину</li>
            <li class="list-group-item">iRek Plus55 - его первый iPhone 6 Plus, в названии также участвует его ник и диагональ телефона (5,5")</li>
            <li class="list-group-item">iRek noPro58 - его второй iPhone 11, в названии также есть ник, диагональ, а еще шутка, что это не iPhone 11 Pro</li>
          </ul><br>
          Это настолько привилось, что и я тоже стал давать всему названия в таком же стиле.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer text-end">
        Святослав Сергеевич Думченко, сын
      </figcaption>
    </figure>
  </div>
</div>