---
layout: default
---

<div class="container text-center" id="start">
    <h1 class="display-3">{{ page.name }}</h1>
</div>

<div class="container">
    <p class="display-4 text-center">Местоположение</p>

    <p>
        {% if page.maps.yandex %}
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#yandexmaps" aria-expanded="false" aria-controls="yandexmaps">Яндекс Карты</button>
        {% endif %}
        {% if page.maps.google %}
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#googlemaps" aria-expanded="false" aria-controls="googlemap">Google Maps</button>
        {% endif %}
    </p>

    <div class="row">
        <div class="collapse ratio ratio-4x3" id="yandexmaps">
            <iframe src="{{ page.maps.yandex }}" allowfullscreen="true"></iframe>
        </div>

        <div class="collapse ratio ratio-4x3" id="googlemaps">
            <iframe src="{{ page.maps.google }}" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<div class="container">
    <p class="display-4 text-center">Могилы</p>

    <div class="container px-4 pt-3">
        <div class="row row-cols-auto g-3">
            {% assign this_collection = page.id | split: "/" | last %}
            {% assign graves = site.graves | where: "graveyard", this_collection %}
            {% for grave in graves %}
            <div class="col">
                <div class="card col-md-4 text-center" style="width: 18rem;">
                    <div class="card-body col-sm">
                        <h5 class="card-title">{{ grave.name }}</h5>
                    </div>
                    <a class="btn btn-primary stretched-link w-100" href="{{ grave.url | relative_url }}#start">Подробнее...</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    {{ content }}
</div>

{% if page.photos %}
<hr>

<div class="container px-4 pt-3">
    <p class="display-4 text-center">Фотографии</p>

    <div class="row row-cols-auto g-5">
        {% for photo in page.photos %}
        <div class="col">
            <figure class="figure">
                <img src="{{ photo.path | relative_url }}" class="figure-img img-fluid rounded" style="max-height: 90vh; width: 35rem;">
                {% if photo.caption %}
                <figcaption class="figure-caption text-center font-weight-bold">
                    {{ photo.caption }}
                </figcaption>
                {% endif %}
            </figure>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}