---
layout: default
name: Большеохтинское кладбище
photos:
  - path: /assets/images/ohta/2022-11-08 15.12.21.jpg
    caption: В этой могиле гробы захоронены по центру
buried:
  - name: Думченко Сергей Николаевич
    link: people/reksam
    birthDate: 13.06.1962
    deathDate: 05.11.2021
  - name: Ванюкова Нина Александровна
    birthDate: 02.12.1934
    deathDate: 07.03.2018
  - name: Игнатьева Анна Андреевна
    birthDate: 16.09.1925
    deathDate: 03.09.2015
  - name: Игнатьева Мария Константиновна
    birthDate: 05.10.1912
    deathDate: 19.10.1984

---

<div class="container text-center" id="start">
  <h1 class="display-3">{{ page.name }}</h1>
</div>

<div class="container">
  <p class="display-4">Местоположение</p>

  <div class="ratio ratio-16x9">
    <a href="https://yandex.ru/maps/org/bolsheokhtinskoye_kladbishche/141522873249/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Большеохтинское кладбище</a>
    <a href="https://yandex.ru/maps/2/saint-petersburg/category/cemetery/184108357/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Кладбище в Санкт‑Петербурге</a>
    <iframe src="https://yandex.ru/map-widget/v1/-/CCU6vQSjOD" allowfullscreen="true"></iframe>
  </div>

  <div class="ratio ratio-16x9">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6150.253468733171!2d30.426573999576274!3d59.947546784857465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631f679cff3ed%3A0xc0df68d3fa9efac5!2sBol&#39;sheokhtinskoye%20Kladbishche!5e1!3m2!1sen!2sru!4v1667891713180!5m2!1sen!2sru"loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="container">
    <p class="display-6">Как найти</p>

    <div class="container">
      <p class="h4">Могила Ванюковой Нины Александровны</p>
      <p><strong>К этой могиле бывает тяжело добраться, когда много воды или снега. Лучше приходить в летнее время.</strong></p>
      <p>
        От основного входа (с пр. Металлистов) идем сразу налево вдоль ворот и администрации. В конце здания администрации поворачиваем направо на Олонецкую дорожку.
      </p>
      <p>
        Сворачиваем налево на Кахетинскую дорожку (после Онежской и Галицкой дорожек и перед Мезенской и Углической дорожками).
      </p>
      <p>
        Где-то с левой стороны (допишем).
      </p>
    </div>

    <div class="container">
      <p class="h4">Могила Игнатьевой Анны Андреевны</p>
    </div>

    <div class="container">
      <p class="h4">Могила Думченко Сергея Николаевича</p>
      <p>
        Участок называется "Речной". От основного входа (с пр. Металлистов) идем вдоль левой стороны церкви по Московской дорожке, на раздвоении идем на правую Харьковскую дорожку, затем сворачиваем направо к мосту (Бородинская дорожка).
      </p>
      <p>
        В начале моста слева есть лестница вниз - спускаемся по ней и попадаем в начало Речного участка (сам участок будет по левую руку). Идем по участку до бетонных оснований справа и изгиба участка налево.
      </p>
      <p>
        Могила находится в следующем ряду после изгиба вторая слева.
      </p>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <p class="display-4">Похоронены</p>

  <div class="container px-4 pt-3">
    <div class="row row-cols-auto g-3">
      {% for buried in page.buried %}
      <div class="col">
        <div class="card col-md-4 text-center" style="width: 18rem;">
          <div class="card-body col-sm">
            <h5 class="card-title">{{ buried.name }}</h5>
            <div class="card-text">{{ buried.birthDate }} - {{ buried.deathDate }}</div>
            <br/>
          </div>
          {% if buried.link %}
          <a class="btn btn-primary stretched-link" href="{{ buried.link | relative_url }}#start">Подробнее...</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<hr>

<div class="container">
  <p class="display-4">Фотографии</p>

  {% for photo in page.photos %}
  <figure class="figure">
    <img src="{{ photo.path | relative_url }}" class="figure-img img-fluid rounded" style="height: 90vh;">
    {% if photo.caption %}
    <figcaption class="figure-caption text-center font-weight-bold text-black">
      {{ photo.caption }}
    </figcaption>
    {% endif %}
  </figure>
  {% endfor %}
</div>